html {
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    color: #162D05;
    background: #F6FAF4;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1480px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 20% auto;
    background: #6AAD36 url(./pattern.png) center / 15% repeat;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

button {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

input {
    outline: none;
}

p {
    margin: 0;
}


/*header*/

.header {
    grid-area: 1/1/3/2;
    position: sticky;
    top: 0;
    color: #FFF;
    padding-bottom: 8rem;
}

.languages-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.languages-list--header {
    margin-bottom: 1rem;
    padding: 1.5rem 1rem 0;
}

.languages-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 2px solid #FFF;
    background: transparent center / contain no-repeat;
    font-size: .7rem;
    transition: all 0.2s linear;
}

.languages-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.current-lang a, .current-lang a:hover  {
    background-color: #FFF;
    color: #146B06;
}

.header__logo {
    display: block;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.header__nav-item--close {
    display: none;
}

.header__nav-item:first-child {
    padding-top: 1rem;
}

.header__nav-item:last-child {
    padding-bottom: 1rem;
}

.header__button-burger {
    display: none;
}

.header__nav-link {
    display: block;
    position: relative;
    background: transparent 6% / 1.3rem no-repeat;
    padding: .5rem 1rem .5rem 2.5rem;
    transition: all 0.2s linear;
}

.header__nav-link--1 {
    background-image: url(./header__nav-info.png);
}

.header__nav-link--2 {
    background-image: url(./header__nav-table.png);
}

.header__nav-link--3 {
    background-image: url(./header__nav-search.png);
}

.header__nav-link--4 {
    background-image: url(./header__nav-keto.png);
}

.header__nav-link--5 {
    background-image: url(./header__nav-healthy-food.png);
}

.header__nav-link--6 {
    background-image: url(./header__nav-calc.png);
}

.header__nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header__nav-link:hover::after {
    content: '';
    position: absolute;
    width: .2rem;
    height: 100%;
    background-color: #162D05;
    left: 0;
    top: 0;
}

/*aside*/

.aside {
    display: flex;
    justify-content: space-between;
    background-color: #146B06;
    color: #FFF;
    padding: 1.5rem 1.7rem;
}

.aside__heading {
    font-size: 1.3rem;
    white-space: nowrap;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 1rem;
}

.aside__content-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.aside__heading-link {
    width: 20%;
    font-weight: 400;
    font-size: .8rem;
    margin-right: .5rem;
    text-align: center;
    line-height: 1.2;
}

.aside__list-wrapper  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aside__list {
    display: flex;
    position: relative;
    margin-right: 1rem;
}

.aside__link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: .7rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
    transition: all 0.2s linear;
}

.aside__link > div {
    border: 1px solid #ccc;
    margin: 0 5px 0 0;
    border-radius: 7px;
    font-weight: 600;
    padding: 5px;
    transition: all 0.2s linear;
}

.aside__link:hover > div {
    background-color: #FFF;
    border: 1px solid #FFF;
    color: #146B06;
}

/*content__section*/

.main {
    display: flex;
    flex-direction: column-reverse;
    background-color: #FFF;
    grid-area: 1/2/2/3;
}

.content__section {
    padding: 1.7rem;
}

.content__main-heading {
    font-size: 2rem;
    margin: 0 0 2rem;
}

.content__category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}

.content__category-link {
    display: block;
    background: transparent 4% / 1.5rem no-repeat;
    border: 1px solid #146B06;
    border-radius: 0.2rem;
    padding: .5rem 1.2rem .5rem 3rem;
    transition: all 0.2s linear;
}

.content__category-link:hover {
    background-color: #F6FAF4;
}

.content__category-link--1 {
    background-image: url(./category-all-food.png);
}

.content__category-link--2 {
    background-image: url(./category-cereal.png);
}

.content__category-link--3 {
    background-image: url(./category-meat.png);
}

.content__category-link--4 {
    background-image: url(./category-veget.png);
}

.content__category-link--5 {
    background-image: url(./category-milk.png);
}

.content__category-link--6 {
    background-image: url(./category-fruit.png);
}

.content__category-link--7 {
    background-image: url(./category-condit.png);
}

.content__category-link--8 {
    background-image: url(./category-other.png);
}


/*table*/

.content__table-wrapper {
    margin-bottom: 2rem;
}

table.main_table th,
table.main_table td {
    padding: .5rem .7rem;
    text-align: center;
}

table.main_table td:nth-of-type(1) {
    text-align: left;
}

#foodTable_wrapper table.dataTable thead tr,
table.main_table table.dataTable thead tr {
    background: #F6FAF4;
}

#foodTable_wrapper table.dataTable thead tr th,
table.main_table table.dataTable thead tr th {
    padding: 1rem .7rem;
    border-bottom: none;
    vertical-align: middle;
    line-height: 1.3;
    color: #162D05;
    font-weight: 500;
}

#foodTable_wrapper table.dataTable tbody td,
table.main_table table.dataTable tbody td {
    padding: 1rem .7rem;
    border-bottom: 1px solid #d5d5d5;
    vertical-align: middle;
    line-height: 1.3;
}

#foodTable_wrapper table.dataTable tbody tr,
table.main_table table.dataTable tbody tr {
    background: none;
    transition: all 0.2s linear;
}

#foodTable_wrapper table.dataTable tbody tr:hover,
table.main_table table.dataTable tbody tr:hover {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#foodTable_wrapper table.dataTable tbody tr td.ind_cells,
table.main_table table.dataTable tbody tr td.ind_cells {
    font-weight: 700;
    font-size: .9rem;
}

#foodTable_wrapper table.dataTable tbody tr td.ind_cells span,
table.main_table table.dataTable tbody tr td.ind_cells span {
    font-weight: 400;
    font-size: .8rem;
}

#foodTable_wrapper table.dataTable tbody tr td:first-of-type,
table.main_table table.dataTable tbody tr td:first-of-type {
    font-size: 20px;
}

#foodTable_wrapper table.dataTable tbody tr td:first-of-type a,
table.main_table table.dataTable tbody tr td:first-of-type a {
    color: #162D05;
    font-weight: 700;
    font-size: .9rem;
}

#foodTable_wrapper table.dataTable tbody tr td:first-of-type a:hover,
table.main_table table.dataTable tbody tr td:first-of-type a:hover {
    color: #146B06;
    border-color: #146B06;
}

#foodTable_filter {
    width: 40%;
    float: left;
    margin-bottom: 2rem;
}

#foodTable_filter > label {
    display: block;
    text-align: start;
    font-weight: 600;
    font-size: 1.3rem;
    color: #162D05;
}

div.dataTables_wrapper .dataTables_filter input {
    height: 2rem;
    width: 60%;
    border: 1px solid #CDCCCD;
    border-radius: .25rem;
    margin-left: 1rem;
    padding: 0 1rem;
    font-size: .9rem;
}

/*article__section*/

.article__section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
}

.article__image {
    background-color: #F6FAF4;
    position: relative;
    width: 100%;
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
    margin-bottom: 1rem;
}

.article__container--1 {
    grid-area: 1/1/2/4;
}

.article__container--2 {
    grid-area: 1/4/2/-1;
}

.article__container--3 {
    grid-area: 2/1/3/3;
}

.article__container--4 {
    grid-area: 2/3/3/5;
}

.article__container--5 {
    grid-area: 2/5/3/-1;
}

.article__heading {
    font-size: 1rem;
    margin: 0 0 .5rem;
}

.article__description {
    font-size: .8rem;
    line-height: 1.2;
}


/*footer*/

.footer {
    grid-area: 2/1/3/3;
    display: grid;
    gap: 1rem;
    grid-template-columns: 53% 45%;
    background-color: #162D05;
    color: #FFF;
    padding: 1.7rem;
}

.footer__nav-list {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: space-between;
}

.footer__nav-link {
    font-size: .8rem;
    border-bottom: 2px solid #FFF;
    transition: all 0.2s linear;
}

.footer__nav-link:hover {
    color: #6AAD36;
    border-bottom: 2px solid #6AAD36;
}

.languages-list--footer {
    grid-area: 1/2/2/3;
    justify-content: end;
}

.footer__privacy-container {
    grid-area: 2/1/3/2;
    align-self: end;
    font-size: .7rem;
}

.footer__privacy-content {
    display: inline-block;
}

.footer__privacy-link {
    transition: all 0.2s linear;
}

.footer__privacy-link:hover {
    color: #6AAD36;
}

.footer__about-info {
    grid-area: 2/2/3/3;
    line-height: 1;
    align-self: end;
}

.footer__about-info {
    font-size: .7rem;
}


@media (max-width: 1440px) {

    .container {
        display: block;
    }

    .header {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #6AAD36 url(./pattern.png) center / 15% repeat;
        padding: 1rem 2rem;
        z-index: 10;
    }

    .header__nav-list {
        display: none;
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(28,33,29,.8);
    }

    .header__nav-item {
        background: #146B06;
    }

    .header__nav-link {
        background-position: 1.5rem;
        padding: .5rem 0 .5rem 3.5rem;
    }

    .header__nav-item--close {
        display: block;
        position: relative;
    }

    .header__button-close {
        position: absolute;
        right: 2rem;
        top: 1.2rem;
        width: 1.5rem;
        height: 1.5rem;
        background: transparent url(./X.svg) center / contain no-repeat;
        border: none;
        z-index: 100;
    }

    .header__nav-list--show {
        display: block;
    }

    .header__logo {
        margin-bottom: 0;
    }

    .main {
        width: 100%;
        padding-top: 4rem;
    }

    .content__category-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .content__category-link {
        font-size: .8rem;
        background-size: 1.2rem;
        padding: .4rem 1.2rem .4rem 2.6rem;
    }

    .header__button-burger {
        display: block;
        border: none;
        width: 11rem;
        height: 1.5rem;
        background: url(./Burger.svg) right / contain no-repeat;
    }

    .languages-list--header {
        gap: 1rem;
        padding: 0;
        margin: 0;
    }

    #foodTable_filter {
        width: 70%;
    }

    .footer {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .footer__nav-list, .languages-list--footer, .footer__privacy-container, .footer__about-info {
        grid-area: auto;
    }

    .languages-list--footer {
        justify-content: start;
    }
}


@media (max-width: 1024px) {

    #foodTable_filter {
        width: 100%;
    }

    .content__table-wrapper {
        overflow-x: auto;
    }

    .main {
        flex-direction: column;
    }

    .aside {
        flex-direction: column;
    }

    .aside__content-wrapper {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .aside__heading-link {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .aside__list-wrapper {
        flex-direction: column;
    }

    .aside__heading {
        writing-mode: inherit;
        transform: none;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .aside__list {
        flex-direction: column;
        align-items: start;
        gap: .25rem;
        margin-right: 0;
    }

    .article__section {
        grid-template-columns: repeat(2, 1fr);
    }

    .article__container--1 {
        grid-area: 1/1/2/3;
    }

    .article__container--2 {
        grid-area: 2/1/3/2;
    }

    .article__container--3 {
        grid-area: 2/2/3/3;
    }

    .article__container--4 {
        grid-area: 3/1/4/2;
    }

    .article__container--5 {
        grid-area: 3/2/4/3;
    }
}

@media (max-width: 800px) {

    .header {
        padding: .5rem 1rem;
    }

    .languages-list--header {
        gap: 0.2rem;
    }

    .header__nav-link {
        background-position: 4%;
    }

    .header__languages-list {
        gap: 0.2rem;
    }

    .header__button-burger {
        width: 2rem;
    }

    .header__button-close {
        right: 1rem;
        top: 1.2rem;
    }

    .header__logo {
        width: 5rem;
    }

    .content__section {
        padding: 2rem 1rem;
    }

    .content__category-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .content__category-link {
        background-position: 3%;
    }

    div.dataTables_wrapper .dataTables_filter input {
        width: 100%;
        margin-top: .5rem;
        margin-left: 0;
    }

    .aside {
        padding: 1rem;
    }

    .aside__content-wrapper {
        justify-content: start;
    }

    .aside__list {
        width: 100%;
        gap: .7rem;
    }

    .aside__link {
        padding: 0;
    }

    .article__section {
        grid-template-columns: 1fr;
    }

    .article__container--1, .article__container--2, .article__container--3, .article__container--4, .article__container--5 {
        grid-area: auto;
    }

    .footer {
        padding: 1rem;
    }

    .languages-list--footer {
        justify-content: space-between;
    }

    .footer__nav-list {
        flex-direction: column;
        gap: .7rem;
    }

    .footer__privacy-container {
        line-height: 1.2;
    }
}